<div class="login-card">
  <div class="login-background"></div>
  <div class="login-content">
    <h2 class="login-text">登 录</h2>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入用户名!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="username"
              placeholder="用户名"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="密码"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入验证码!">
          <nz-input-group style="max-width: 170px" nzPrefixIcon="code">
            <input
              type="text"
              nz-input
              formControlName="verifyCode"
              placeholder="请输入验证码"
            />
          </nz-input-group>
        </nz-form-control>
        <canvas
          style="max-height: 30px"
          id="verify-code"
          [width]="contentWidth"
          [height]="contentHeight"
          (click)="createdCode()"
        ></canvas>
      </nz-form-item>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot" [routerLink]="['/login/forget-form']"
            >忘记密码</a
          >
        </div>
        <div nz-col [nzSpan]="12">
          <a class="register" [routerLink]="['/login/register-form']">注册</a>
        </div>
      </div>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        登 录
      </button>
    </form>
  </div>
</div>
