<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="../../assets/logo.svg" alt="logo" />
      <h1>M I S</h1>
    </div>

    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <ng-container *ngTemplateOutlet="menuTpl"></ng-container>
      <ng-template #menuTpl>
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngIf="menu.children && menu.children.length > 0">
            <li
              nz-submenu
              (nzOpenChange)="changeOpen(menu, menus)"
              [(nzOpen)]="menu.open"
            >
              <span title>
                <i nz-icon [nzType]="menu.icon"></i>
                <span class="nav-text">{{ menu.title }}</span>
              </span>
              <ul>
                <ng-container *ngFor="let menuSecond of menu.children">
                  <li
                    nz-menu-item
                    [nzSelected]="menuSecond.selected"
                    *ngIf="
                      !menuSecond.children || menuSecond.children.length === 0
                    "
                  >
                    <a [routerLink]="[menuSecond.path]">
                      <i nz-icon [nzType]="menuSecond.icon"></i>
                      <span>{{ menuSecond.title }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <span
          class="top-setting"
          nz-dropdown
          [nzDropdownMenu]="userSettingMenu"
        >
          <span class="setting-content">你好，{{ realName }}</span>
        </span>
        <nz-dropdown-menu #userSettingMenu>
          <ul nz-menu class="setting-menu">
            <li nz-menu-item>
              <a (click)="setpassword()"
                ><i
                  nz-icon
                  nzType="lock"
                  nzTheme="outline"
                  class="bst-header_usr_menu_icon"
                ></i
                ><span>修改密码</span></a
              >
            </li>
            <nz-modal
              [(nzVisible)]="setPwdVis"
              nzTitle="修改密码"
              nzMaskClosable="false"
              nzCentered
              (nzOnCancel)="setPwdCancel()"
            >
              <ng-container *nzModalContent>
                <div *ngIf="current === 1">
                  <div class="verify-text">
                    为保护帐号安全，修改密码需要进行邮箱验证。
                  </div>
                  <form nz-form [formGroup]="validateForm" class="verify-form">
                    <nz-form-item>
                      <nz-form-label
                        [nzSm]="6"
                        [nzXs]="24"
                        nzFor="email"
                        nzRequired
                      >
                        <span>你的电子邮箱</span>
                      </nz-form-label>
                      <nz-form-control
                        [nzSm]="14"
                        [nzXs]="24"
                        nzErrorTip="请输入正确的邮箱!"
                      >
                        <input nz-input id="email" formControlName="email" />
                      </nz-form-control>
                      <button
                        style="margin-left: 10px"
                        nz-button
                        id="getEmailCode"
                        nzType="primary"
                        (click)="getEmailCode()"
                      >
                        获取验证码
                      </button>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label
                        [nzSm]="6"
                        [nzXs]="24"
                        nzFor="emailCode"
                        nzRequired
                      >
                        <span>邮箱验证码</span>
                      </nz-form-label>
                      <nz-form-control
                        [nzSm]="14"
                        [nzXs]="24"
                        nzErrorTip="请输入验证码!"
                      >
                        <input
                          nz-input
                          style="max-width: 150px"
                          id="emailCode"
                          formControlName="emailCode"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
                <div *ngIf="current === 2">
                  <nz-input-group>
                    <input
                      type="text"
                      nz-input
                      placeholder="请输入新密码"
                      [(ngModel)]="newpsw"
                    />
                  </nz-input-group>
                  <nz-input-group>
                    <input
                      type="text"
                      nz-input
                      placeholder="请再次输入新密码"
                      [(ngModel)]="checknewpsw"
                    />
                  </nz-input-group>
                </div>
              </ng-container>
              <ng-container *nzModalFooter>
                <div class="next-btn">
                  <button
                    nz-button
                    (click)="verifyNext()"
                    nzType="primary"
                    *ngIf="current === 1"
                  >
                    下一步
                  </button>
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="!this.newpsw || !this.checknewpsw"
                    (click)="confirm()"
                    *ngIf="current === 2"
                  >
                    <span>确定</span>
                  </button>
                </div>
              </ng-container>
            </nz-modal>
            <li nz-menu-divider></li>
            <li nz-menu-item>
              <a (click)="goLogin()"
                ><i
                  nz-icon
                  nzType="logout"
                  nzTheme="outline"
                  class="bst-header_usr_menu_icon"
                ></i
                ><span>退出登录</span></a
              >
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <app-tab></app-tab>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
