<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="../../assets/logo.svg" alt="logo" />
      <h1>M I S</h1>
    </div>

    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <ng-container *ngTemplateOutlet="menuTpl"></ng-container>
      <ng-template #menuTpl>
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngIf="menu.children && menu.children.length > 0">
            <li
              nz-submenu
              (nzOpenChange)="changeOpen(menu, menus)"
              [(nzOpen)]="menu.open"
            >
              <span title>
                <i nz-icon [nzType]="menu.icon"></i>
                <span class="nav-text">{{ menu.title }}</span>
              </span>
              <ul>
                <ng-container *ngFor="let menuSecond of menu.children">
                  <li
                    nz-menu-item
                    [nzSelected]="menuSecond.selected"
                    *ngIf="
                      !menuSecond.children || menuSecond.children.length === 0
                    "
                  >
                    <a [routerLink]="[menuSecond.path]">
                      <i nz-icon [nzType]="menuSecond.icon"></i>
                      <span>{{ menuSecond.title }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <app-tab></app-tab>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
